body {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    color: black;
    background-color: transparent;
    align-items: center;
    top: 15%;
    left: 50%;
    position: absolute;
    color: red;
}

#button.on {
    color: blue;
}